<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="HelixSampl.Foundation.Serialization" description="Root items" extends="HelixSampl.Feature.Base">
          <predicate>
            <!-- Settings -->
            <include name="Foundation.Serialization.Settings.Feature" database="master" path="/sitecore/system/Settings/HelixSampl/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Settings.Foundation" database="master" path="/sitecore/system/Settings/HelixSampl/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Settings.Project" database="master" path="/sitecore/system/Settings/HelixSampl/Project">
              <exclude children="true" />
            </include>

            <!-- Templates -->
            <include name="Foundation.Serialization.Templates.Feature" database="master" path="/sitecore/templates/HelixSampl/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Templates.Foundation" database="master" path="/sitecore/templates/HelixSampl/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Templates.Project" database="master" path="/sitecore/templates/HelixSampl/Project">
              <exclude children="true" />
            </include>

            <!-- Renderings -->
            <include name="Foundation.Serialization.Renderings.Feature" database="master" path="/sitecore/layout/renderings/HelixSampl/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Renderings.Foundation" database="master" path="/sitecore/layout/renderings/HelixSampl/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Renderings.Project" database="master" path="/sitecore/layout/renderings/HelixSampl/Project">
              <exclude children="true" />
            </include>

            <!-- Layouts -->
            <include name="Foundation.Serialization.Layouts.Feature" database="master" path="/sitecore/layout/layouts/HelixSampl/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Layouts.Foundation" database="master" path="/sitecore/layout/layouts/HelixSampl/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Layouts.Project" database="master" path="/sitecore/layout/layouts/HelixSampl/Project">
              <exclude children="true" />
            </include>

            <!-- Models --><!--
            <include name="Models.Feature" database="master" path="/sitecore/layout/HelixSampl/models/Feature">
              <exclude children="true" />
            </include>
            <include name="Models.Foundation" database="master" path="/sitecore/layout/HelixSampl/models/Foundation">
              <exclude children="true" />
            </include>
            <include name="Models.Project" database="master" path="/sitecore/layout/HelixSampl/models/Project">
              <exclude children="true" />
            </include>-->
            
            <!-- Placeholder Settings -->
            <include name="Foundation.Serialization.PlaceholderSettings.Feature" database="master" path="/sitecore/layout/placeholder settings/HelixSampl/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.PlaceholderSettings.Foundation" database="master" path="/sitecore/layout/placeholder settings/HelixSampl/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.PlaceholderSettings.Project" database="master" path="/sitecore/layout/placeholder settings/HelixSampl/Project">
              <exclude children="true" />
            </include>

            <!-- Media -->
            <include name="Foundation.Serialization.Media.Feature" database="master" path="/sitecore/media library/HelixSampl/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Media.Project" database="master" path="/sitecore/media library/HelixSampl/Project">
              <exclude children="true" />
            </include>

            <!-- Core templates -->
            <include name="Foundation.Core.Templates.Feature" database="core" path="/sitecore/templates/HelixSampl/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Core.Templates.Foundation" database="core" path="/sitecore/templates/HelixSampl/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Core.Templates.Project" database="core" path="/sitecore/templates/HelixSampl/Project">
              <exclude children="true" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>